body {
    font-family: 'Bitter', sans-serif;
}

nav {
    display: inline-flex;
    width: max-content;
}

nav div {
    align-items: center; 
}

#nav-links {
    list-style: none;
}

#nav-links li{
    display: inline;
}